<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.hokolinks.hoko" version="0.0.1">

    <name>HOKO</name>

    <asset src="www/hoko.js" target="js/hoko.js"/>

    <description>HOKO deep linking SDK for having smart links on your application</description>

    <engines>
        <engine name="cordova" version=">=3.6.0"/>
    </engines>

    <license>Apache 2.0</license>
    <keywords>cordova,deep links,growth,hoko</keywords>

    <js-module src="www/hoko.js" name="Hoko">
        <clobbers target="Hoko"/>
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="HOKO">
                <param name="ios-package" value="com.hokolinks.plugin.Hoko"/>
            </feature>
        </config-file>

        <framework src="SystemConfiguration.framework"/>
        <framework src="Foundation.framework"/>
        <framework src="libz.dylib"/>

        <header-file src="src/ios/hoko-ios/Hoko/HKApp.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKApp.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKDeeplink+Private.h" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKDeeplink.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKDeeplink.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKDeeplinking+Private.h" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKDeeplinking.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKDeeplinking.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKDeferredDeeplinking.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKDeferredDeeplinking.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKDevice.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKDevice.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKError.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKError.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKGZip.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKGZip.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKHandlerBlockWrapper.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKHandlerBlockWrapper.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKHandling.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKHandling.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKLinkGenerator.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKLinkGenerator.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKLogger.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKLogger.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKNavigation.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKNavigation.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKNetworkOperation.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKNetworkOperation.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKNetworkOperationQueue+Private.h" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKNetworkOperationQueue.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKNetworkOperationQueue.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKNetworking.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKNetworking.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKNotificationObserver.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKNotificationObserver.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKObjectObserver.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKObjectObserver.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKObserver.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKObserver.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKResolver.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKResolver.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKRoute.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKRoute.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKRouting.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKRouting.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKSwizzling.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKSwizzling.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKURL.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKURL.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKUtils.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKUtils.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/HKVersionChecker.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/HKVersionChecker.m" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/Hoko+Private.h" target-dir="src/com/hokolinks/hoko"/>
        <header-file src="src/ios/hoko-ios/Hoko/Hoko.h" target-dir="src/com/hokolinks/hoko"/>
        <source-file src="src/ios/hoko-ios/Hoko/Hoko.m" target-dir="src/com/hokolinks/hoko"/>
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HOKO">
                <param name="android-package" value="CDVHoko"/>
            </feature>
        </config-file>

        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/utils/versionchecker/VersionChecker.java" target-dir="src/com/hoko/utils"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/utils/networking/async/NetworkAsyncTask.java" target-dir="src/com/hoko/utils"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/utils/networking/async/HttpRequestCallback.java" target-dir="src/com/hoko/utils"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/utils/networking/async/HttpRequest.java" target-dir="src/com/hoko/utils"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/utils/networking/Networking.java" target-dir="src/com/hoko/utils"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/utils/log/HokoLog.java" target-dir="src/com/hoko/utils"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/utils/lifecycle/ApplicationLifecycleCallback.java" target-dir="src/com/hoko/utils"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/utils/lifecycle/ApplicationLifecycle.java" target-dir="src/com/hoko/utils"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/utils/Utils.java" target-dir="src/com/hoko/utils"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/utils/DateUtils.java" target-dir="src/com/hoko/utils"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/exceptions/UnknownException.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/exceptions/SetupNotCalledYetException.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/exceptions/SetupCalledMoreThanOnceException.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/exceptions/ServerWarningException.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/exceptions/ServerErrorException.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/exceptions/RouteNotMappedException.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/exceptions/NullDeeplinkException.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/exceptions/MultipleDefaultRoutesException.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/exceptions/LinkResolveException.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/exceptions/LinkGenerationException.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/exceptions/HokoException.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/exceptions/GenericServerException.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/exceptions/DuplicateRouteException.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/exceptions/ActivityNotDeeplinkableException.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/URL.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/RouteImpl.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/Route.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/IntentRouteImpl.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/Device.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/DeeplinkPlatform.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/DeeplinkCallback.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/Deeplink.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/model/App.java" target-dir="src/com/hoko/model"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/deeplinking/listeners/SmartlinkResolveListener.java" target-dir="src/com/hoko/deeplinking"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/deeplinking/listeners/LinkGenerationListener.java" target-dir="src/com/hoko/deeplinking"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/deeplinking/annotations/DeeplinkRouteParameter.java" target-dir="src/com/hoko/deeplinking"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/deeplinking/annotations/DeeplinkRoute.java" target-dir="src/com/hoko/deeplinking"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/deeplinking/annotations/DeeplinkQueryParameter.java" target-dir="src/com/hoko/deeplinking"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/deeplinking/annotations/DeeplinkFragmentActivity.java" target-dir="src/com/hoko/deeplinking"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/deeplinking/annotations/DeeplinkDefaultRoute.java" target-dir="src/com/hoko/deeplinking"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/deeplinking/Routing.java" target-dir="src/com/hoko/deeplinking"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/deeplinking/Resolver.java" target-dir="src/com/hoko/deeplinking"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/deeplinking/LinkGenerator.java" target-dir="src/com/hoko/deeplinking"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/deeplinking/Handling.java" target-dir="src/com/hoko/deeplinking"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/deeplinking/DeferredDeeplinkingBroadcastReceiver.java" target-dir="src/com/hoko/deeplinking"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/deeplinking/Deeplinking.java" target-dir="src/com/hoko/deeplinking"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/deeplinking/AnnotationParser.java" target-dir="src/com/hoko/deeplinking"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/activity/HokoActivity.java" target-dir="src/com/hoko/activity"/>
        <source-file src="src/android/hoko-android/hoko/src/main/java/com/hokolinks/Hoko.java" target-dir="src/com/hoko"/>
        <source-file src="src/android/CDVHoko.java" target-dir="src/com/hoko"/>
    </platform>
</plugin>
